<h1>PTH Sizes</h1>

<p>Calculate the plated through-hole and pad diameters for round and rectangular
  leads per the IPC-2221 and IPC-2222 standards.</p>

<p>Maximum lead diameter: {{input value=maxLeadDiameter}} mm</p>

<table>
  <tr>
    <th>IPC Level</th>
    <th>Min. Hole Size<br>(mm)</th>
    <th>Min. Annular Ring Size<br>(mm)</th>
    <th>IPC-7251 Name<br>(circular, square)</th>
  </tr>
  <tr>
    <td>A</td>
    <td>{{minHoleSizes.[0]}}</td>
    <td>{{minAnnularRings.[0]}}</td>
    <td>{{namingConventions.[0]}}, {{namingConventions.[3]}}</td>
  </tr>
  <tr>
    <td>B</td>
    <td>{{minHoleSizes.[1]}}</td>
    <td>{{minAnnularRings.[1]}}</td>
    <td>{{namingConventions.[1]}}, {{namingConventions.[4]}}</td>
  </tr>
  <tr>
    <td>C</td>
    <td>{{minHoleSizes.[2]}}</td>
    <td>{{minAnnularRings.[2]}}</td>
    <td>{{namingConventions.[2]}}, {{namingConventions.[5]}}</td>
  </tr>
</table>
